#container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background-color:#009900;
    text-align:center;
}

#bottom {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:#6610f2;
    text-align:center;
    color:#FFFFFF;
}



input[type="range"] {
	-webkit-appearance: none;
	width: 60%;
	outline: none;
	height: 2px;
	margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: #FF8A65;
	border-radius: 50%;
	cursor: pointer;
}




.slider{
    width: 100%;
    padding-top: 210px; /*changed by me*/
    padding-bottom: 20px; /*Created by me */
    display: flex;
    align-items: center;
    justify-content: center;
}


.control{
    position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 60px;

   
}

.control button{
	border: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
    margin: 15px;
	outline: none;
	transition: 0.5s;
	background: rgba(255,255,255,0.1);
}

#auto i{
	margin-left: 8px;
}
#play{
	background: #FF8A65;
}
button:hover{
	background: orange;
}

i:before{
	color: #fff;
	font-size: 20px;
}



